.cart{
    width: 290px;
    height: 550px;
    border: 1px solid rgb(240, 35, 76);
    padding: 10px;
    margin: 10px;

}

.imgE img{
    width: 100%;
}

.btn{

font-size: 18px;
font-weight: bold;
color: crimson;
padding: 10px;
}

.cart-title{
font-family: 'Times New Roman', Times, serif;
}
.flexK{
    display: flex;
    
}



